.creation{
  padding:60px 10px 0 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
article{
text-align: center;


  .pic img{
    width: 50px;
  }
}

@media screen and (min-width: $vw-medium) {
  .creation{
    flex-direction: row;
    flex-wrap: wrap;

  }
article{
  display:flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
}

@media screen and (min-width: $vw-large) {
  article{
    width: 31%;
  }
}