:root {

  --color-white:#fff;
  --color-black:#000;

  --color-link:#202C4A;
  --color-link-visited:#8B8B97;
  --color-link-hover:#E53847;


  --color-bg-secondary:#F0F0F0;
  --color-bg-tertiary:#202C4A;

  --color-gradient:#62BDFC, #8490ff;



}