:root {

  //dimension page
  --max-width:1200px;
  --min-width:335px;

}


  //media queries breakpoints

  $vw-thin:320px;
  $vw-small:576px;
  $vw-medium:768px;
  $vw-large:992px;
  $vw-huge:(--max-width);