:root {

  //font size
  --fz-normal:  1rem;

  --fz-h1:2.5rem;
  --fz-h2: 2rem;
  --fz-h3: 1.75rem;
  --fz-h4: 1.5rem;

  //line height

  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;

  //font family

  --ff-normal:'Sarabun', sans-serif;;
  --ff-titre: 'Montserrat', sans-serif;;
}